<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
    <form action="/login/auth" method="POST">
        <!-- 사용자 아이디 입력 -->
        <label for="id">아이디:</label>
        <input type="text" id="id" name="id" required><br>

        <!-- 사용자 비밀번호 입력 -->
        <label for="pw">비밀번호:</label>
        <input type="password" id="pw" name="pw" required><br>

        <!-- 사용자 이름 입력 -->
        <label for="name">이름:</label>
        <input type="text" id="name" name="name" required><br>

        <!-- 사용자 주민번호 입력 -->
        <label for="ssn">주민번호:</label>
        <input type="text" id="ssn" name="ssn" pattern="^\d{6}-[1-4]\d{6}$" required><br>

        <!-- 사용자 핸드폰 번호 입력 -->
        <label for="number">핸드폰 번호:</label>
        <input type="text" id="number" name="number" pattern="^\d{3}-\d{4}-\d{4}$" required><br>

        <!-- 사용자 이메일 입력 -->
        <label for="email">이메일:</label>
        <input type="email" id="email" name="email" required><br>

        <!-- 주소 입력 -->
        <label for="address">주소:</label>
        <input type="text" id="address" name="address"><br>

        <!-- 가게 입력 -->
        <div>
            <label for="storeName">가게 이름:</label>
            <input type="text" id="storeName" name="storeName" required>
        </div>

        <!-- 회원가입 버튼 -->
        <button type="submit">회원가입</button>
    </form>
</body>
</html>