    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>문의 사항</title>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/gh/sockjs/sockjs-client/dist/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <!-- Basic -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Site Metas -->
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="shortcut icon" href="/bootstrap/images/favicon.png" type="">
        <!-- bootstrap core css -->
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" />

        <!--owl slider stylesheet -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
        <!-- nice select  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
        <!-- font awesome style -->
        <link href="/bootstrap/css/font-awesome.min.css" rel="stylesheet" />

        <!-- Custom styles for this template -->
        <link href="/bootstrap/css/style.css" rel="stylesheet" />
        <!-- responsive style -->
        <link href="/bootstrap/css/responsive.css" rel="stylesheet" />

    </head>
    <body class="sub_page">

    <div class="hero_area">
        <div class="bg-box">
            <img src="/bootstrap/images/hero-bg.jpg" alt="">
        </div>
        <header th:replace="fragments/member/header :: header"></header>

            </div>

        <!-- Main -->
        <main class="flex-1">
            <div class="py-6">
                <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
                    <!-- 내용 -->
                    <div class="bg-white shadow sm:rounded-lg">
                        <div class="px-4 py-5 sm:p-5">
                            <!-- Chat Box -->
                            <div id="chatBox" class="h-64 border overflow-auto mb-2">
                                <!-- 채팅 메시지가 이곳에 추가됨 -->
                            </div>
                            <!-- Send Message Form -->
                            <form id="sendMessageForm">
                                <div class="chat-input">
                                    <label for="chatInput"></label><input type="text" id="chatInput" class="w-full p-2 border border-gray-300 rounded-md mb-4" placeholder="메시지 입력..." required />
                                    <input type="hidden" id="memberId" th:value="${memberId}">
                                    <button id="sendButton" class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600">보내기</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <footer class="bg-white shadow p-4 text-center">
            <span class="text-sm text-gray-500">문의사항이 있으시면 연락해주세요. 관리자: 010-7141-8847</span>
        </footer>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
        //    var socket = new SockJS('http://localhost:9010/ws');
            var socket = new SockJS('http://mzpc.net/ws');
            var stompClient = Stomp.over(socket);
            var roomId = 'room123'; // 채팅방의 이름
            var topic = "/topic/" + roomId; // 채팅방의 토픽


            // 웹 소켓 연결 서버
            stompClient.connect({}, function (frame) {

                stompClient.subscribe(topic, function (chatMessage) {
                    var message = JSON.parse(chatMessage.body);
                    var chatBox = document.querySelector('#chatBox')
                    var messageContainer = document.createElement('div');
                    var messageText = document.createTextNode(message.sender + ": " + message.content); // 메시지의 내용을 표시

                    messageContainer.appendChild(messageText);
                    chatBox.appendChild(messageContainer); // 채팅박스에 메시지를 추가
                });
            });

            // 메시지 전송 설정
            document.querySelector('#sendMessageForm').addEventListener('submit', function (e) {
                e.preventDefault();
                var messageInput = document.querySelector('#chatInput');
                var chatBox = document.querySelector('#chatBox');

                // 사용자의 ID를 가져옵니다.
                var memberId = document.getElementById('memberId').value;

                // 메시지 전송
                stompClient.send(`/app/chat.sendMessage/${roomId}`, {}, JSON.stringify({
                    'sender': 'sudo', // 'sender' 필드에 로그인한 사용자의 ID를 설정
                    'content': messageInput.value,
                    'topic': `/topic/${roomId}` // 메시지를 보낼 토픽
                }));

                messageInput.value = '';
            });
        });
    </script>
        </body>
    </html>