<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="/bootstrap/images/favicon.png" type="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

    <title> MZPC </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css"/>

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <!-- nice select  -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
          integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
          crossorigin="anonymous"/>
    <!-- font awesome style -->
    <link href="/bootstrap/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/style.css" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="/bootstrap/css/responsive.css" rel="stylesheet"/>
    <style>
        .material-icons {
            color: white;
        }
    </style>
</head>

<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">
        <img src="/bootstrap/images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header th:replace="fragments/member/header :: header"></header>
    <!-- end header section -->
</div>

<!-- food section -->

<section class="food_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Menu
            </h2>
        </div>

        <ul class="filters_menu_member filters_menu_common">
            <li class="active" data-filter=".all">All</li>
            <li data-filter=".favorites">Favorites</li>
            <li th:each="categoryName : ${distinctFoodCategories}" th:text="${categoryName}"
                th:data-filter="'.' + ${categoryName}"></li>
        </ul>
        <div class="filters-content">
            <div class="row gridMembers">
                <div th:each="menu: ${foodDtoList}" class="col-sm-6 col-lg-4 all menu-item"
                     th:classappend="${menu.getCategoryName()}">
                    <div class="box">
                        <div class="img-box"
                             th:attr="data-category-name=${menu.getCategoryName()},data-food-code=${menu.getCode()}">
                            <img th:src="@{${menu.getPicture()}}" alt="기본이미지">
                        </div>
                        <div class="detail-box"
                             th:attr="data-category-name=${menu.getCategoryName()},data-food-code=${menu.getName()}">
                            <h5 th:text="${menu.getName()}"/>
                            <p th:text="${menu.getDescription()}"/>
                            <div class="options">
                                <h6 th:text="${menu.price + '원'}"/>
                                <a th:href="@{/members/{storeName}/food/detail/{foodName}(storeName=${(storeName)}, foodName=${menu.name}, foodCode=${menu.code})}">
                                    <i class="material-icons">add</i>
                                </a>
                                <a href="#"
                                   th:attr="onclick='addToFavorites(\'' + ${menu.idx} + '\', \'' + ${storeName} + '\'); return false;'">
                                    <i class="material-icons">grade</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:each="favorites : ${favorites}" class="col-sm-6 col-lg-4 favorites favorite-item">
                    <div class="box">
                        <div class="img-box"
                             th:attr="data-food-code=${favorites.food.code}">
                            <img th:src="${favorites.food.picture}" alt="">
                        </div>
                        <div class="detail-box"
                             th:attr="data-food-name=${favorites.food.getName()}">
                            <h5 th:text="${favorites.food.getName()}"/>
                            <p th:text="${favorites.food.getDescription()}"/>
                            <div class="options">
                                <h6 th:text="${favorites.food.price + '원'}"/>
                                <a th:href="@{/members/{storeName}/food/detail/{foodName}(storeName=${(storeName)}, foodName=${favorites.food.name}, foodCode=${favorites.food.code})}">
                                    <i class="material-icons">add</i>
                                </a>
                                <a href="#"
                                   th:attr="onclick='removeFromFavorites(\'' + ${favorites.idx} + '\', \'' + ${storeName} + '\'); return false;'">
                                    <i class="material-icons" style="color: black;">grade</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end food section -->

<div th:replace="fragments/member/foodCart :: div"></div>

<div th:replace="fragments/footer :: footer"></div>

<!-- Add to Cart / Remove from Cart / Update Cart Functions-->
<script>
    $(document).ready(function () {
        $('#addToCartIcon').on('click', function () {
            const foodName = $(this).attr('data-food-name');
            const foodCode = $(this).attr('data-food-code');
            const price = $(this).attr('data-price');
            const storeName = $(this).attr('data-store-name');

            $.ajax({
                type: 'POST',
                url: '/members/' + encodeURIComponent(storeName) + '/cart/addToCart',
                data: {
                    foodName: foodName,
                    foodCode: foodCode,
                    price: price
                },
                success: function (response) {
                    updateCartSection(response);
                },
                error: function (error) {
                    console.error('Error adding item to the cart', error);
                }
            });
        });
        $('.remove-from-cart').on('click', function () {
            const cartItemIdx = $(this).data('cart-item-idx');
            const storeName = $(this).data('store-name');

            $.ajax({
                type: 'DELETE',
                url: '/members/' + encodeURIComponent(storeName) + '/cart/removeFromCart',
                data: {
                    cartItemIdx: cartItemIdx,
                    storeName: storeName
                },
                success: function (response) {
                    removeCartItem(cartItemIdx);
                    updateCartSection(response);
                },
            });
        });

        function removeCartItem(cartItemIdx) {
            $(`div[data-cart-item-idx="${cartItemIdx}"]`).remove();
        }

        function updateCartSection(cartItems) {
            const cartSection = $('#cartItems');
            // cartSection.empty();
            $.each(cartItems, function (index, cartItem) {
                const cartItemElement = $('<div>').text(cartItem.name);
                cartSection.append(cartItemElement);
            });
        }
    });
</script>
<!-- Add to Favorites Function-->
<script>
    function addToFavorites(foodIdx, storeName) {
        foodIdx = parseInt(foodIdx);
        $.ajax({
            type: 'POST',
            url: '/members/' + encodeURIComponent(storeName) + '/food/addFavorite',
            data: {
                foodIdx: foodIdx,
            },
            success: function (response) {
                // icon change
                // getFavoritesFoodList()
            },
            error: function (error) {
            }
        });
    }
</script>
<!-- Remove from Favorites Function-->
<script>
    function removeFromFavorites(favoriteIdx, storeName) {

        const favoritesContainer = $('#favoritesContainer');

        $.ajax({
            type: 'DELETE',
            url: '/members/' + encodeURIComponent(storeName) + '/food/removeFavorite',
            data: {
                favoriteIdx: favoriteIdx,
            },
            success: function (response) {
                updateFavoritesSection(response)
            },
            error: function (error) {
            }
        });
    }

    // function updateFavoritesSection(favorites) {
    //     const favoritesContainer = $('#favoritesContainer');
    //     favoritesContainer.empty();
    //
    //     $.each(favorites, function (index, favorite) {
    //         const favoriteElement = $('<div>').text(favorite);
    //         favoritesContainer.append(favoriteElement);
    //     });
    // }
</script>
<!-- Checkout Cart Function-->
<script>
    $(document).ready(function () {
        $('.purchase-btn').on('click', function (event) {
            event.preventDefault();
            const paymentMethod = $('input[name="paymentMethod"]:checked').val();
            const notes = $('.notes input').val();
            const storeName = $('input[name="storeName"]').val();

            const postData = {
                paymentMethod: paymentMethod,
                notes: notes,
            };

            $.ajax({
                type: 'POST',
                url: '/members/' + encodeURIComponent(storeName) + '/order/checkout',
                data: postData,
                success: function (redirectUrl) {
                    window.location.href = redirectUrl;
                },
                error: function (error) {
                    console.error('결제 오류 발생', error);
                }
            });
        });
    });
</script>
<!-- 총 가격 계산-->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        function updateTotalCost() {
            let totalCost = 0;

            document.querySelectorAll('.cartItem input[name="foodPrice"]').forEach(function (priceInput) {
                const price = parseInt(priceInput.value) || 0;
                totalCost += price;
            });

            document.getElementById('totalCost').innerText = totalCost + '원';
        }

        updateTotalCost();
        document.forms[0].addEventListener('change', updateTotalCost);
    });
</script>


</body>

</html>