<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>주문 목록</title>
</head>
<body>
<div th:each="order, iterStatus : ${orders}">
    <h5>주문 번호: <span th:text="${orders.size() - iterStatus.index}"></span></h5>
    <h5>조리 상태:
        <span th:if="${order.cookComplete}">조리 완료</span>
        <span th:unless="${order.cookComplete}">조리 미완료</span>
    </h5>
    <h5>결제 상태:
        <span th:if="${order.purchaseStatus}">결제 완료</span>
        <span th:unless="${order.purchaseStatus}">결제 미완료</span>
    </h5>
    <h5>결제 방식: <span th:text="${order.payment}"></span></h5>
    <h5>결제 시간: <span th:text="${order.createdAt}"></span></h5>
    <h5>음식 목록:</h5>
    <ul>
        <li th:each="orderedFood : ${order.getCarts()}">
            <span th:text="${orderedFood.food.name}"></span>
            -
            <span th:text="${orderedFood.food.price} + '원'"></span>
        </li>
    </ul>
    <h5>총 금액: <span th:text="${order.totalCost} + '원'"></span></h5>
    <br/>
    <br/>
</div>
</body>
</html>