<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="/bootstrap/images/favicon.png" type="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

    <title> MZPC </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css"/>

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <!-- nice select  -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
          integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
          crossorigin="anonymous"/>
    <!-- font awesome style -->
    <link href="/bootstrap/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/style.css" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="/bootstrap/css/responsive.css" rel="stylesheet"/>
    <style>
        .material-icons {
            color: white;
        }
    </style>
</head>

<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">
        <img src="/bootstrap/images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header th:replace="fragments/member/header :: header"></header>
    <!-- end header section -->
</div>
<section class="order_section">
        <div th:each="order, iterStatus : ${orders}" class="detail-box">
            <h5>주문 번호: <span th:text="${orders.size() - iterStatus.index}"></span></h5>
            <h5>조리 상태:
                <span th:if="${order.cookComplete}">조리 완료</span>
                <span th:unless="${order.cookComplete}">조리 미완료</span>
            </h5>
            <h5>결제 상태:
                <span th:if="${order.purchaseStatus}">결제 완료</span>
                <span th:unless="${order.purchaseStatus}">결제 미완료</span>
            </h5>
            <h5>결제 방식: <span th:text="${order.payment}"></span></h5>
            <h5>결제 시간: <span th:text="${order.createdAt}"></span></h5>
            <h5>음식 목록:</h5>
            <ul>
                <li th:each="orderedFood : ${order.getCarts()}">
                    <span th:text="${orderedFood.food.name}"></span>
                    -
                    <span th:text="${orderedFood.food.price} + '원'"></span>
                </li>
            </ul>
            <div th:if="${order.getNote() != null || not #strings.isEmpty(order.getNote())}">요청사항</div>
            <label>
                <textarea th:if="${order.getNote() != null || not #strings.isEmpty(order.getNote())}" th:text="${order.getNote()}" readonly style="resize: none;"></textarea>
            </label>
            <h5>총 금액: <span th:text="${order.totalCost} + '원'"></span></h5>
        </div>
</section>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>