<!DOCTYPE html>
<html lang="">
<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="/bootstrap/images/favicon.png" type="">

    <title> Mzpc </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css"/>

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <!-- nice select  -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
          integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
          crossorigin="anonymous"/>
    <!-- font awesome style -->
    <link href="/bootstrap/css/font-awesome.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/style.css" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="/bootstrap/css/responsive.css" rel="stylesheet"/>

    <!--    <script src="https://cdn.tailwindcss.com"></script>-->
    <style>
        table {
            margin-top: 20px;
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 14px;
        }

        td {
            font-size: 14px;
        }
    </style>
</head>

<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">
        <img src="/bootstrap/images/hero-bg.jpg" alt="">
    </div>
    <header th:replace="fragments/member/header :: header"></header>
</div>


<main class="flex-1 layout_padding">
    <div class="heading_container heading_center">
        <h2>
            구매 목록
        </h2>
    </div>
<!--    <div class="py-6">-->
<!--        <div id="purchaseBox" class="h-64 border overflow-auto mb-2">-->
<!--            <div class="form-style">-->
                <table class="table-fixed w-full">
                    <thead>
                    <tr>
                        <th class="w-1/5 py-4 px-5 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">
                            시간
                        </th>
                        <th class="w-1/5 py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">
                            가격
                        </th>
                        <th class="w-1/5 py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">
                            사용한 마일리지
                        </th>
                        <th class="w-1/5 py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">
                            적립한 마일리지
                        </th>
                        <th class="w-1/5 py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">
                            구매 시간
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="mileageInfo : ${mileageInfos}">
                        <td class="py-4 px-6 border-b border-grey-light" th:text="${mileageInfo.times.addTime}"></td>
                        <td class="py-4 px-6 border-b border-grey-light" th:text="${mileageInfo.times.price}"></td>
                        <td class="py-4 px-6 border-b border-grey-light" th:text="${mileageInfo.use}"></td>
                        <td class="py-4 px-6 border-b border-grey-light" th:text="${mileageInfo.save}"></td>
                        <td class="py-4 px-6 border-b border-grey-light" th:text="${mileageInfo.createdAt}"></td>
                    </tr>
                    </tbody>
                </table>
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
