    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
            <!-- Basic -->
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <!-- Mobile Metas -->
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <!-- Site Metas -->
            <meta name="keywords" content="" />
            <meta name="description" content="" />
            <meta name="author" content="" />
            <link rel="shortcut icon" href="/bootstrap/images/favicon.png" type="">

            <title> Mzpc </title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>문의 사항</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- bootstrap core css -->
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" />

        <!--owl slider stylesheet -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
        <!-- nice select  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
        <!-- font awesome style -->
        <link href="/bootstrap/css/font-awesome.min.css" rel="stylesheet" />

        <!-- Custom styles for this template -->
        <link href="/bootstrap/css/style.css" rel="stylesheet" />
        <!-- responsive style -->
        <link href="/bootstrap/css/responsive.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

        <style>

        </style>
    </head>

    <body class="sub_page">

    <div class="hero_area">
        <div class="bg-box">
            <img src="/bootstrap/images/hero-bg.jpg" alt="">
        </div>
        <header th:replace="fragments/admin/header :: header"></header>
    </div>

        <!-- Main -->
        <main class="flex-1">
            <div class="py-6">
                <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">

                    <!-- 내용 -->
                    <div class="bg-white shadow sm:rounded-lg">
                        <div class="px-4 py-5 sm:p-10 flex">

                            <!-- 유저 정보 -->
                            <div class="mb-10 w-1/2 pr-2">
                                <h3 class="text-lg leading-10 font-medium text-gray-900">사용자 정보</h3>
                                <dl class="mt-7 text-sm text-gray-500">
                                    <div><dt class="inline">이름:</dt> <dd class="inline" th:text="${member.name}"></dd></div>
                                    <br>
                                    <div><dt class="inline">전화번호:</dt> <dd class="inline" th:text="${member.number}"></dd></div>
                                    <br>
                                   <!-- <div><dt class="inline">가입일:</dt> <dd class="inline" th:text="${member.joinDate}"></dd></div>-->
                                    <div><dt class="inline">사용자리:</dt></div>
                                    <br>
                                    <div><dt class="inline">이용시작:</dt> <dd class="inline" th:text="${member.startTime}"></dd></div>                                    <br>
                                    <!--<div><dt class="inline">사용시간:</dt> <dd class="inline" th:text="${member.spendTime}"></dd></div>-->
                                    <div><dt class="inline">남은시간:</dt> <dd class="inline" th:text="${member.remainingTime}"></dd></div>
                                </dl>
                            </div>

                            <!-- Chat Box and Send Message Form -->
                            <div class="w-1/2 flex flex-col">
                                <!-- Header -->
                                <header>
                                    <h1 class="text-1xl font-bold text-gray-900">
                                        1:1문의
                                    </h1>
                                </header>
                                <!-- Chat Box -->
                                <div id="chatBox" class="h-64 border overflow-auto mb-2">
                                    <!-- 채팅 메시지가 이곳에 추가됨 -->
                                </div>

                                <!-- Send Message Form -->
                                <form id="sendMessageForm">
                                    <input type="hidden" id="adminId" th:value="${adminId}">
                                    <label for="messageInput"></label>
                                    <input type="text" id="messageInput" class="w-full p-2 border border-gray-300 rounded-md mb-4" placeholder="메시지 입력..." required />
                                    <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600">보내기</button>
                                </form>


                            </div>
                        </div>
                </div>
            </div>
    </div>

    <!-- Footer -->
    <footer class="bg-white shadow p-4 text-center">
        <span class="text-sm text-gray-500">문의사항이 있으시면 연락해주세요. 관리자: 010-7141-8847</span>
    </footer>

            <script>
                document.addEventListener('DOMContentLoaded', function() {

                //  var socket = new SockJS('http://localhost:9010/ws');
                    var socket = new SockJS('http://mzpc.net/ws');
                    var stompClient = Stomp.over(socket);
                    var roomId = 'room123'; // 채팅방의 이름
                    var topic = "/topic/" + roomId; // 채팅방의 토픽
                    var adminId = document.getElementById('adminId').value;
                    var chatButtons = document.querySelectorAll('.chatButton');

                    // 웹 소켓 연결 서버
                    stompClient.connect({}, function (frame) {
                        // 토픽 설정(구독)
                        stompClient.subscribe(topic, function (chatMessage) {
                            var message = JSON.parse(chatMessage.body);
                            var chatBox = document.querySelector('#chatBox')
                            var messageContainer = document.createElement('div');
                            var messageText = document.createTextNode(message.sender + ": " + message.content);

                            messageContainer.appendChild(messageText);
                            chatBox.appendChild(messageContainer);

                            // 새로운 메시지가 도착했을 때 알림 표시
                            if (message.sender !== adminId) { // 메시지가 관리자로부터 오지 않았을 때
                                var notificationIcon = document.querySelector('.notification-icon');
                                if (notificationIcon !== null) { // 요소가 실제로 존재하는지 확인
                                    notificationIcon.classList.add('blink'); // 'blink' 클래스 추가
                                }

                            }
                        });
                    });


                    document.querySelector('#sendMessageForm').addEventListener('submit', function (e) {
                        e.preventDefault();
                        var messageInput = document.querySelector('#messageInput');
                        var chatBox = document.querySelector('#chatBox');

                        // 관리자의 ID를 가져옵니다.
                        var adminId = document.getElementById('adminId').value;

                        // 메시지 전송
                        stompClient.send("/app/chat.sendMessage/" + roomId, {}, JSON.stringify({
                            'sender': 'admin', // 관리자 ID를 보낸이로 설정
                            'content': messageInput.value,
                            'topic': topic
                        }));
                        messageInput.value = '';

                    });
                });
            </script>

                </main>
    </div>
    </body>
    </html>
