<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/bootstrap/images/favicon.png" type="">

    <title> Mzpc </title>    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="/bootstrap/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/bootstrap/css/responsive.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>


    <!-- SockJS 라이브러리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>

    <!-- Stomp 라이브러리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  <!--  <style>
        @keyframes blink {
            0% {opacity: 1;}
            50% {opacity: 0.5;}
            100% {opacity: 1;}
        }

        .blink {
            animation: blink 1s linear infinite;
        }
    </style>-->

</head>
<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">
        <img src="/bootstrap/images/admin-bg.png" alt="">
    </div>
    <header th:replace="fragments/admin/header :: header"></header>
</div>
<div>
                <!-- 내용 -->
                <table class="table-fixed w-full">
                    <thead>
                    <tr>
                        <th class="w-1/5 py-4 px-5 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">
                            이름
                        </th>
                        <th class="w-1/5 py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">
                            시작시간
                        </th>
                        <th class="w-1/5 py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">
                            남은시간
                        </th>
                        <th class="w-1/5 py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">
                            채팅
                        </th>
                        <th class="w-1/5 py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">
                            알림
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="hover:bg-grey-lighter" th:each="member : ${members}" th:data-store-code="${storeCode}">
                    <td class="py-1/4 px-6 border-b border-grey-light" th:text="${member.name}"></td>
                        <td class="py-1/5 px-6 border-b border-grey-light" th:text="${member.startTime}"></td>
                        <td class="py-1/5 px-6 border-b border-grey-light" th:text="${member.remainingTime}"></td>
                        <td class="py-1/5 px-6 border-b border-grey-light">
                            <button th:data-member-id="${member.id}" onclick="window.location.href='/admin/' + this.parentElement.dataset.storeCode + '/detailMember/' + this.dataset.memberId" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded">
                                채팅
                            </button>
                        </td>
                        <td class="py-1/5 px-12 border-b border-grey-light">
                            <span class="notification-number" style="display: none;">0</span> <!-- 알림 카운터 -->
                            <i class="fas">&#xf0f3;</i>
                        </td>
                    </tr>
                    </tbody>

                </table>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        /*var adminId = document.getElementById('adminId').value;*/
      //  var socket = new SockJS('http://localhost:9010/ws');
        var socket = new SockJS('http://mzpc.net/ws');
        var stompClient = Stomp.over(socket);
        var topic = "/topic/room123"; // 관리자 채팅방의 토픽

        // 웹 소켓 연결 서버
        stompClient.connect({}, function (frame) {
            // 토픽 설정(구독)
            stompClient.subscribe(topic, function (chatMessage, adminId) {
                var message = JSON.parse(chatMessage.body);

                // 새로운 메시지가 도착했을 때 알림 표시
                if(message.sender !== adminId) { // 메시지가 관리자로부터 오지 않았을 때
                    var chatButton = document.querySelector('button[data-member-id="' + message.sender + '"]');
                    var notificationIcon = chatButton.parentElement.parentElement.querySelector('.fas');
                    notificationIcon.classList.add('blink'); // 'blink' 클래스 추가

                    // 알림 카운터 선택 및 증가
                    var notificationNumber = chatButton.parentElement.parentElement.querySelector('.notification-number');
                    notificationNumber.style.display = 'inline';
                    notificationNumber.textContent = (Number(notificationNumber.textContent) + 1).toString();

                    // 일정 시간 후 'blink' 클래스 제거
                    setTimeout(function() {
                        notificationIcon.classList.remove('blink');
                    }, 5000); // 5초 후 'blink' 클래스 제거
                }
            });
        });
    });
</script>


</body>
</html>
