<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="cart_section layout_padding-bottom" style="text-align: center;">
    <div class="heading_container heading_center psudo_white_primary mb_45">
        <h2>Shopping Cart</h2>
    </div>
    <div class="item">
        <div class="box">
            <div class="detail-box">
                <form th:action="@{/members/{storeName}/order/checkout(storeName=${(storeName)})}"
                      th:object="${cartList}" method="post">
                    <ul id="cartItems">
                        <th:block th:if="${cartList != null}">
                            <div th:each="cart, cartIndex : ${cartList}" class="cartItem"
                                 th:data-cart-item-idx="${cart.idx}">
                                <span th:text="${cartIndex.index + 1 + '. ' + cart.food.name + ' - ' + cart.food.price + '원'}"></span>
                                <button type="button" class="remove-from-cart" style="align-self: flex-end" th:data-cart-item-idx="${cart.idx}"
                                        th:data-store-name="${cart.members.getStore().getName()}">
                                    &times;
                                </button>
                                <input type="hidden" name="foodName" th:value="${cart.food.name}">
                                <input type="hidden" name="foodPrice" th:value="${cart.food.price}">
                                <input type="hidden" name="storeName" th:value="${cart.members.getStore().getName()}">
                            </div>
                        </th:block>
                    </ul>
                    <div class="payment-methods">
                        <label>
                            <input type="radio" name="paymentMethod" value="card" id="card" checked>
                            신용 카드
                        </label>
                        <label>
                            <input type="radio" name="paymentMethod" value="cash" id="cash">
                            현금
                        </label>
                        <div class="notes">
                            <label>
                                <input type="text" style="width: 300px; resize: none;" placeholder="요청 사항">
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="purchase-btn" style="align-self: center" th:disabled="${#lists.isEmpty(cartList)}">결제 하기</button>
                    <div class="total_cost">총 구매 가격: <span id="totalCost">0원</span></div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>