<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/bootstrap/images/favicon.png" type="">

    <title> Mzpc </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="/bootstrap/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/bootstrap/css/responsive.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Stomp 라이브러리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</head>
<body>
<header class="header_section">
    <nav th:fragment="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a th:if="${storeName != null}" class="navbar-brand" th:href="@{/members/{storeName}(storeName=${storeName})}"><span>MZPC</span></a>
                <a th:unless="${storeName != null}" class="navbar-brand" th:href="@{/}"><span>MZPC</span></a>
                <!-- -->
                <div th:if="${storeName != null}" id="remainingTimeDisplay" style="color:white;"></div>
                <script>
                    // 서버에서 remainingTime을 가져오는 함수
                    async function fetchRemainingTime() {
                        try {
                            const response = await fetch('/api/updateRemainingTime');
                            const data = await response.json();

                            // remainingTimeDisplay 요소에 시간을 표시
                            document.getElementById('remainingTimeDisplay').innerText = data.remainingTime;

                            // 서버에서 가져온 시간이 유효하면 타이머 시작
                            if (data.remainingTime !== '') {
                                startCountdown(data.remainingTime);
                            }
                        } catch (error) {
                            console.error('Error fetching remaining time:', error);
                        }
                    }

                    // 남은 시간을 표시하고 감소시키는 함수
                    function startCountdown(remainingTime) {
                        // 남은 시간을 초로 변환
                        let remainingSeconds = calculateRemainingSeconds(remainingTime);

                        // 1초마다 시간 갱신
                        const countdownInterval = setInterval(() => {
                            // 시간 감소
                            remainingSeconds--;
                            if (remainingSeconds < 0) {
                                remainingSeconds = 0;
                            }

                            // 시간이 0보다 작으면 타이머 종료
                            if (remainingSeconds <= 0) {
                                clearInterval(countdownInterval);
                                document.getElementById('remainingTimeDisplay').innerText = '시간 종료';
                                $.ajax({
                                    type : 'GET',
                                    url : '/login/autoLogout',
                                    data : {remainingTime : remainingTime},
                                    success: function (redirectUrl) {
                                        window.location.href = redirectUrl;
                                    },
                                    error: function () {
                                        console.error('자동 로그아웃 요청 실패');
                                    }
                                })
                            } else {
                                // 남은 시간을 시분초로 변환하여 표시
                                const formattedTime = formatRemainingTime(remainingSeconds);
                                document.getElementById('remainingTimeDisplay').innerText = formattedTime;
                            }
                        }, 1000);
                    }

                    // 시간을 초로 변환하는 함수
                    function calculateRemainingSeconds(remainingTime) {
                        const timeArray = remainingTime.split(':');
                        return parseInt(timeArray[0]) * 3600 + parseInt(timeArray[1]) * 60 + parseInt(timeArray[2]);
                    }

                    // 남은 시간을 시분초 형식으로 변환하는 함수
                    function formatRemainingTime(remainingSeconds) {
                        const hours = Math.floor(remainingSeconds / 3600);
                        const minutes = Math.floor((remainingSeconds % 3600) / 60);
                        const seconds = remainingSeconds % 60;
                        return `${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')}`;
                    }

                    // 페이지 로드 시 남은 시간 가져오기 및 타이머 시작
                    fetchRemainingTime();
                </script>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mx-auto ">
                        <li class="nav-item">
                            <a th:if="${storeName != null}" class="nav-link" th:href="@{/members/{storeName}(storeName=${storeName})}">Home <span class="sr-only">(current)</span></a>
                            <a th:unless="${storeName != null}" class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a th:if="${storeName != null}" class="nav-link" th:href="@{/members/{storeName}/food/listFood(storeName=${storeName})}">먹거리 주문하기</a>
                            <a th:unless="${storeName != null}" class="nav-link" th:onclick="noPermFoodPage()" th:href="@{/}">먹거리 주문하기</a>
                        </li>
                        <li class="nav-item">
                            <a th:if="${storeName != null}" class="nav-link" th:href="@{/members/{storeName}/time(storeName=${storeName})}">시간 충전하기 <span class="sr-only">(current)</span> </a>
                            <a th:unless="${storeName != null}" class="nav-link" th:onclick="noPermFoodPage()" th:href="@{/}">시간 충전하기</a>
                        </li>
                        <li class="nav-item">
                            <a th:if="${storeName != null}" class="nav-link" th:href="@{/members/{storeName}/chat(storeName=${storeName})}">문의 하기 <span class="sr-only">(current)</span> </a>
                            <a th:unless="${storeName != null}" class="nav-link" th:onclick="noPermFoodPage()" th:href="@{/}">문의 하기</a>

                        </li>
                    </ul>
                    <span th:if="${session.id}!=null" style="color:white;" th:text="'Hi ' + ${session.id}"></span>
                    <div class="user_option">
                        <a th:href="@{/members/{storeName}/order/list}" class="user_link">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                        <div class="user_option">
                            <a th:if="${storeName == null}" href="login" class="order_online">
                                로그인
                            </a>
                            <a th:unless="${storeName == null}" href="/login/members/logout" class="order_online">
                                사용종료
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </nav>
</header>
</body>
</html>