<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/bootstrap/images/favicon.png" type="">

    <title> MZPC - Admin </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="/bootstrap/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/bootstrap/css/responsive.css" rel="stylesheet" />

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">
        <img src="/bootstrap/images/admin-bg.png" alt="">
    </div>
    <header th:replace="fragments/admin/header :: header"></header>
</div>
<section class="about_section layout_padding">
    <div class="container" data-aos="fade-up">
        <div class="row gy-4">
            <form th:action="@{/admin/{storeCode}/time/addTime(storeCode=${storeCode})}" method="post" >
                <label for="name">상품 명:</label>
                <input type="text" id="name" name="name" required /></br>

                <label for="addTime">추가 시간:</label>
                <input type="text" id="addTime" name="addTime" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]" required />

                <label for="price">가격:</label>
                <input type="number" id="price" name="price" required /></br>

                <button type="submit">저장</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>