<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/bootstrap/images/favicon.png" type="">

    <title> MZPC - Admin </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="/bootstrap/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/bootstrap/css/responsive.css" rel="stylesheet" />

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">
        <img src="/bootstrap/images/admin-bg.png" alt="">
    </div>
    <header th:replace="fragments/admin/header :: header"></header>
</div>

<!-- about section -->

<section class="about_section layout_padding">
    <div class="container" data-aos="fade-up">
        <div class="row gy-4">
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="why-box">
                    <h3>상품 추가하기</h3>
                    <div class="text-center">
                        <a th:href="@{/admin/{storeCode}/time/addTime(storeCode=${storeCode})}" class="more-btn">상품 추가 <i class="bx bx-chevron-right"></i></a>
                    </div>
                </div>
            </div><!-- End Why Box -->

            <div class="col-lg-8 d-flex align-items-center">
                <div class="row gy-4">
                    <div class="col-xl-4" style="width: 300px;" data-aos="fade-up" data-aos-delay="200" th:each="timeDto : ${listTime}">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center" style="height: 200px;">
                            <i class="bi bi-gem"></i>
                            <h4 th:text="${timeDto.name}"></h4>
                            <p th:text="${timeDto.price + '원'}"></p>
                            <div>
                                <a th:href="@{/admin/{storeCode}/time/modifyTime/{timeCode}(storeCode=${storeCode}, timeCode=${timeDto.code})}">수정</a>
                                <a th:href="@{/admin/{storeCode}/time/deleteTime/{timeCode}(storeCode=${storeCode}, timeCode=${timeDto.code})}">삭제</a>
                            </div>
                        </div>
                    </div><!-- End Icon Box -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>