<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/bootstrap/images/favicon.png" type="">
    <title>음식 추가</title>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="/bootstrap/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/bootstrap/css/responsive.css" rel="stylesheet" />
    <script>
        function submitFoodInfo(event) {
            event.preventDefault();
            var selectElement = document.getElementById('categoryName');
            var categoryCode = selectElement.value;
            var storeCode = [[${storeCode}]];
            var topping = false;
            var formData = new FormData();
            var confirmation = confirm("음식을 추가하시겠습니까?");

            var stockCheck = document.getElementById('stock').value;
            var foodNameCheck = document.getElementById('foodName').value;
            var foodPriceCheck = document.getElementById('foodPrice').value;
            var foodPicture = $('#foodPicture')[0].files[0];
            var foodDto = {
                "idx" : null,
                "code" : null,
                "name" : $('input[name="foodName"]').val(),
                "price" : $('input[name="foodPrice"]').val(),
                "description" : $('#description').val(),
                "stock" : $('input[name="stock"]').val(),
                "topping" : false
            };

            if (stockCheck=== '' | foodNameCheck==='' || foodPriceCheck==='' || foodPicture==null) {
                alert('모든 필수 입력 필드를 작성해주세요.');
                return;
            }
            formData.append('picture', foodPicture);
            formData.append('foodDto',JSON.stringify(foodDto));

            if (confirmation){
                $.ajax({
                    type: "POST",
                    async: false,
                    url: "http://localhost:9010/food/addFood?categoryCode=" + categoryCode,
                    // contentType : "application/json",
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function(data) {
                        console.log(foodDto);
                        window.location.href ="http://localhost:9010/admin/"+storeCode+"/food?topping="+topping;
                        alert(data)
                    },
                    error: function() {
                        alert("음식을 추가하는데 에러가 발생했습니다.")
                    }
                });
            }
        }

        function handleFileInputChange(event) {
            var preview = document.getElementById('imagePreview'); // 이미지 미리보기 요소
            var file = event.target.files[0]; // 선택된 파일
            var reader = new FileReader(); // 파일 리더 객체 생성

            reader.onloadend = function () {
                preview.src = reader.result; // 선택한 이미지 파일의 URL을 이미지 미리보기에 설정
            }

            if (file) {
                reader.readAsDataURL(file); // 선택한 파일을 읽어옴
            } else {
                preview.src = ""; // 파일이 없을 경우 미리보기를 비움
            }
        }

        document.getElementById('foodPicture').addEventListener('change', handleFileInputChange);

    </script>

</head>
<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">
        <img src="/bootstrap/images/admin-bg.png" alt="">
    </div>
    <header th:replace="fragments/admin/header :: header"></header>
</div>
    <form id="addFood" enctype="multipart/form-data">
        <label for="foodName">음식</label> : <input type="text" id="foodName" name="foodName" required>
        <br>
        <label for="foodPrice">가격</label>  : <input type="text" id="foodPrice" name="foodPrice" required>원
        <br>
        <label for="categoryName">카테고리</label>  :
            <select id="categoryName" name="selectCategory">
                <option th:each=" category : ${categories}" th:value="${category.getCode()}" th:text="${category.getName()}"></option>
            </select>
        <br>
        <img id="imagePreview" src="" style="max-width: 200px; max-height: 200px;">
        <br>
        <label for="foodPicture">이미지</label>  :
        <input type="file" id="foodPicture" accept="image/*"  name="foodPricture" onchange="handleFileInputChange(event)">
        <br>
        <label for="description">설명</label> : <br>
        <textarea id="description" rows="4" cols="50" placeholder="설명을 입력하세요."></textarea>
        <br>
        <label for="stock">재고</label> : <input type="text" id="stock" name="stock" required>
        <br>
        <button th:onclick="submitFoodInfo(event)">음식 추가</button>
        <input type="reset">
    </form>
</body>
</html>