<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>토핑 추가하기</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        function submitToppingInfo() {
            var selectElement = document.getElementById('categoryName');
            var categoryCode = selectElement.value;
            var storeCode = [[${storeCode}]];
            var foodDto = {
                "idx" : null,
                "code" : null,
                "name" : $('input[name="toppingName"]').val(),
                "picture" : $('input[name="toppingPicture"]').val(),
                "price" : $('input[name="toppingPrice"]').val(),
                "description" : null,
                "stock" : $('input[name="stock"]').val(),
                "topping" : true
            };

            $.ajax({
                /* 기본설정 */
                type: "POST",
                async: false,
                url: "http://localhost:9010/food/addFood?categoryCode=" + categoryCode,
                contentType : "application/json",
                data: JSON.stringify(foodDto),
                success: function(data) {
                    window.location.href ="http://localhost:9010/admin/"+storeCode+"/food";
                    alert(data)
                },
                error: function() {
                    alert("에러가 발생했습니다.")
                }
            });
        }
    </script>
</head>
<body>
    <form id="addTopping">
        <label for="toppingName">토핑</label> : <input type="text" id="toppingName" name="toppingName" required>
        <br>
        <label for="toppingPrice">가격</label> : <input type="text" id="toppingPrice" name="toppingPrice" required>원
        <br>
        <label for="categoryName">카테고리</label>  :
        <select id="categoryName" name="selectCategory">
            <option th:each=" category : ${categories}" th:value="${category.getCode()}" th:text="${category.getName()}"></option>
        </select>
        <br>
        <label for="toppingPicture">이미지</label>  : <input type="text" id="toppingPicture" name="toppingPricture">
        <br>
        <label for="stock">재고</label> : <input type="text" id="stock" name="stock" required>
        <br>
        <button th:onclick="submitToppingInfo()">음식 추가</button>
        <input type="reset">

    </form>
</body>
</html>