<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/bootstrap/images/favicon.png" type="">

    <title> MZPC - Admin </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="/bootstrap/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/bootstrap/css/responsive.css" rel="stylesheet" />

    <script>
        function clickFood(element) {
            var categoryCode = element.getAttribute("data-category-code");
            var foodCode = element.getAttribute("data-food-code");
            var storeCode = [[${storeCode}]];
            var baseURL;

            if (window.location.hostname === 'localhost' || window.location.hostname === '127.0.0.1') {
                baseURL = 'http://localhost:9010';
            } else {
                baseURL = 'http://mzpc.net';
            }

            window.location.href =baseURL+"/admin/"+storeCode+"/detailFood?categoryCode="+categoryCode+"&foodCode="+foodCode+"&topping="+false;
        }
    </script>
</head>

<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">
        <img src="/bootstrap/images/admin-bg.png" alt="">
    </div>
    <header th:replace="fragments/admin/header :: header"></header>
</div>

<!-- food section -->

<section class="food_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Menu
            </h2>
        </div>
        <ul class="filters_menu filters_menu_common">
            <li class="active" data-filter="*">All</li>
            <li th:each="categorys : ${listCategory}" th:data-filter="'.'+ ${categorys.getCode()} ">
                <span th:text="${categorys.getName()}" ></span>
            </li>
        </ul>
        <div class="filters-content">
            <div class="row grid">
                <div th:each="food : ${foods}" class="col-sm-6 col-lg-4 all" th:classappend="${food.getCategoryDto().getCode()}">
                    <div class="box">
                        <div>
                            <div class="img-box" th:attr="data-category-code=${food.getCategoryDto().getCode()},data-food-code=${food.getCode()}"
                                 onclick="clickFood(this)">
                                <img th:src="@{${food.getPicture()}}" alt="기본이미지">

                            </div>
                            <div class="detail-box" th:attr="data-category-code=${food.getCategoryDto().getCode()},data-food-code=${food.getCode()}"
                                 onclick="clickFood(this)">
                                <h5 th:text="${food.getName()}"></h5>
                                <p th:text="${food.getDescription()}"></p>
                                <h6 th:text="${food.getPrice()}+원"></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <button th:onclick="|location.href='@{/admin/{storeCode}/listCategory(storeCode=${storeCode})}'|">카테고리 관리</button>
        <button th:onclick="|location.href='@{/admin/{storeCode}/addFoodForm(storeCode=${storeCode}, topping=false)}'|">음식 추가</button>
        <button th:onclick="|location.href='@{/admin/{storeCode}/food(storeCode=${storeCode}, topping = true)}'|">토핑 목록</button>
        <button th:onclick="|location.href='@{/admin/{storeCode}/orderList(storeCode=${storeCode})}'|">주문 목록</button>
    </div>
</section>

<!-- end food section -->

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>