<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/bootstrap/images/favicon.png" type="">
    <title>토핑 추가하기</title>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="/bootstrap/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/bootstrap/css/responsive.css" rel="stylesheet" />
    <script>
        function submitToppingInfo(event) {
            event.preventDefault();
            var selectElement = document.getElementById('categoryName');
            var categoryCode = selectElement.value;
            var storeCode = [[${storeCode}]];
            var confirmation = confirm("토핑을 추가하시겠습니까?");
            var toppingPicture = $('#toppingPicture')[0].files[0];
            var formData = new FormData();

            var foodDto = {
                "idx" : null,
                "code" : null,
                "name" : $('input[name="toppingName"]').val(),
                "price" : $('input[name="toppingPrice"]').val(),
                "description" : null,
                "stock" : $('input[name="stock"]').val(),
                "topping" : true
            };

            if (foodDto.name === '' || foodDto.price === '' || foodDto.stock === '' || toppingPicture==null) {
                alert('모든 필수 입력 필드를 작성해주세요.');
                return;
            }

            formData.append('picture',toppingPicture);
            formData.append('foodDto', JSON.stringify(foodDto));

            if (confirmation) {
                $.ajax({
                    type: "POST",
                    async: false,
                    url: "http://localhost:9010/food/addFood?categoryCode=" + categoryCode,
                    // contentType : "application/json",
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (data) {
                        window.location.href = "http://localhost:9010/admin/" + storeCode + "/food" + "?topping=" + true;
                        alert(data)
                    },
                    error: function () {
                        alert("토핑 추가하는데 에러 발생했습니다.")
                    }
                });
            }
        }
    </script>
</head>
<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">
        <img src="/bootstrap/images/admin-bg.png" alt="">
    </div>
    <header th:replace="fragments/admin/header :: header"></header>
</div>
    <form id="addTopping" enctype="multipart/form-data">
            <label for="toppingName">토핑</label> : <input type="text" id="toppingName" name="toppingName" required>
            <br>
            <label for="toppingPrice">가격</label>  : <input type="text" id="toppingPrice" name="toppingPrice" required>원
            <br>
            <label for="categoryName">카테고리</label>  :
            <select id="categoryName" name="selectCategory">
                <option th:each=" category : ${categories}" th:value="${category.getCode()}" th:text="${category.getName()}"></option>
            </select>
            <br>
            <label for="toppingPicture">이미지</label>  : <input type="file" id="toppingPicture" accept="image/*"  name="toppingPicture">
            <br>
            <label for="stock">재고</label> : <input type="text" id="stock" name="stock" required>
            <br>
            <button th:onclick="submitToppingInfo(event)">음식 추가</button>
            <input type="reset">
    </form>
</body>
</html>