<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="/bootstrap/images/favicon.png" type="">
    <title>토핑 추가하기</title>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css"/>

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <!-- nice select  -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
          integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
          crossorigin="anonymous"/>
    <!-- font awesome style -->
    <link href="/bootstrap/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/style.css" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="/bootstrap/css/responsive.css" rel="stylesheet"/>
    <script>
        function submitToppingInfo(event) {
            event.preventDefault();
            var selectElement = document.getElementById('categoryName');
            var categoryCode = selectElement.value;
            var storeCode = [[${storeCode}]];
            var confirmation = confirm("토핑을 추가하시겠습니까?");
            var toppingPicture = $('#toppingPicture')[0].files[0];
            var formData = new FormData();
            var baseURL;
            var foodDto = {
                "idx": null,
                "code": null,
                "name": $('input[name="toppingName"]').val(),
                "price": $('input[name="toppingPrice"]').val(),
                "description": null,
                "stock": $('input[name="stock"]').val(),
                "topping": true
            };

            if (window.location.hostname === 'localhost' || window.location.hostname === '127.0.0.1') {
                baseURL = 'http://localhost:9010';
            } else {
                baseURL = 'http://mzpc.net';
            }

            if (foodDto.name === '' || foodDto.price === '' || foodDto.stock === '' || toppingPicture == null) {
                alert('모든 필수 입력 필드를 작성해주세요.');
                return;
            }

            formData.append('picture', toppingPicture);
            formData.append('foodDto', JSON.stringify(foodDto));

            if (confirmation) {
                $.ajax({
                    type: "POST",
                    async: false,
                    url: baseURL + "/food/addFood?categoryCode=" + categoryCode,
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (data) {
                        window.location.href = baseURL + "/admin/" + storeCode + "/food" + "?topping=" + true;
                        alert(data)
                    },
                    error: function () {
                        alert("토핑 추가하는데 에러 발생했습니다.")
                    }
                });
            }
        }

        function handleFileInputChange(event) {
            var preview = document.getElementById('imagePreview'); // 이미지 미리보기 요소
            var file = event.target.files[0]; // 선택된 파일
            var reader = new FileReader(); // 파일 리더 객체 생성

            reader.onloadend = function () {
                preview.src = reader.result; // 선택한 이미지 파일의 URL을 이미지 미리보기에 설정
            }

            if (file) {
                reader.readAsDataURL(file); // 선택한 파일을 읽어옴
            } else {
                preview.src = ""; // 파일이 없을 경우 미리보기를 비움
            }
        }

        document.getElementById('foodPicture').addEventListener('change', handleFileInputChange);

    </script>
</head>
<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">
        <img src="/bootstrap/images/admin-bg.png" alt="">
    </div>
    <header th:replace="fragments/admin/header :: header"></header>
</div>
<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2 class="mb-5">
                Add Topping Page
            </h2>
        </div>
        <div class="row justify-content-center">
            <div>
                <div class="form_container text-center">
                    <form id="addTopping" enctype="multipart/form-data">
                        <input type="text" id="toppingName" name="toppingName" class="form-control" placeholder="토핑 명(필수)"
                               required/>
                        <input type="text" id="toppingPrice" name="toppingPrice" class="form-control" placeholder="가격(필수)"
                               required/>
                        <select class="form-control nice-select wide" id="categoryName" name="selectCategory">
                            <option disabled selected> 토핑 카테고리</option>
                            <option th:each=" category : ${categories}" th:value="${category.getCode()}"
                                    th:text="${category.getName()}">
                            </option>
                        </select>
                        <input type="text" class="form-control" placeholder="재고(필수)" id="stock" name="stock" required>
                        <label for="toppingPicture">이미지</label> :
                        <input type="file" class="mx-auto" id="toppingPicture" accept="image/*" name="toppingPicture"
                               onchange="handleFileInputChange(event)">
                        <br/>
                        <img id="imagePreview" src="" style="max-width: 200px; max-height: 200px;" alt="">
                        <br/>
                        <button style="width: 180px;" class="button-18 mr-3" th:onclick="submitToppingInfo(event)">
                            음식 추가
                        </button>
                        <button type="reset" style="width: 180px;" class="button-18">
                            Reset
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>