<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-xl-4" style="width: 300px;" data-aos="fade-up" data-aos-delay="200" th:each="timeDto : ${memberListTime}">
    <div class="icon-box d-flex flex-column justify-content-center align-items-center" style="height: 200px;">
        <i class="bi bi-gem"></i>
        <h4 th:text="${timeDto.name}"></h4>
        <p th:text="${timeDto.price + '원'}"></p>
        <p th:text="'저장유무 : ' + ${timeDto.save}"></p>
        <div>
            <a th:href="@{/pre/{storeName}/purchaseTime/{timeCode}(storeName=${storeName}, timeCode=${timeDto.code})}">선택</a>
        </div>
    </div>
</div><!-- End Icon Box -->
</body>
</html>