<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/bootstrap/images/favicon.png" type="">
    <title>카테고리 추가하기</title>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="/bootstrap/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/bootstrap/css/responsive.css" rel="stylesheet" />
    <script>
        function submitCategory(event) {
            event.preventDefault();
            var categoryName = $('input[name="categoryName"]').val();
            var storeCode = [[${storeCode}]];
            var confirmation = confirm("추가하시겠습니까?");
            var baseURL;
            var categoryDto = {
                "idx": null,
                "code": null,
                "name": categoryName
            };

            if (window.location.hostname === 'localhost' || window.location.hostname === '127.0.0.1') {
                baseURL = 'http://localhost:9010';
            } else {
                baseURL = 'http://mzpc.net';
            }

            if (confirmation){
                $.ajax({
                    type: "POST",
                    url: baseURL+"/category/addCategory?storeCode=" + storeCode,
                    contentType: "application/json; charset=utf-8",
                    async : false,
                    data: JSON.stringify(categoryDto),
                    success: function(data) {
                        window.location.href ="http://localhost:9010/admin/"+storeCode+"/food?topping="+false;
                        alert(data);

                    },
                    error: function() {
                        alert("이미 존재하는 카테고리입니다.")
                    }
                });
            }
        }

    </script>

</head>
<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">
        <img src="/bootstrap/images/admin-bg.png" alt="">
    </div>
    <header th:replace="fragments/admin/header :: header"></header>
</div>
<!--    <form th:action="@{/{adminCode}/addCategory(adminCode=${adminCode})}", method="get">-->
     <form id="addCategory">
        카테고리 명 : <input type="text" name="categoryName">
        <button onclick="submitCategory(event)">카테고리 추가</button>
    </form>
</body>
</html>