<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카테고리 추가하기</title>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        function submitCategory() {
            var categoryName = $('input[name="categoryName"]').val();
            var storeCode = [[${storeCode}]];
            var categoryDto = {
                "idx": null,
                "code": null,
                "name": categoryName
            };

            $.ajax({
                type: "POST",
                url: "http://localhost:9010/category/addCategory?storeCode=" + storeCode,
                contentType: "application/json; charset=utf-8",
                async : false,
                data: JSON.stringify(categoryDto),
                success: function(data) {
                    window.location.href ="http://localhost:9010/admin/"+storeCode+"/food";
                    alert(data);

                },
                error: function() {
                    alert("이미 존재하는 카테고리입니다.")
                }
            });
        }

    </script>

</head>
<body>
<!--    <form th:action="@{/{adminCode}/addCategory(adminCode=${adminCode})}", method="get">-->
     <form id="addCategory">
        카테고리 명 : <input type="text" name="categoryName">
        <button onclick="submitCategory()">카테고리 추가</button>
    </form>
</body>
</html>