<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/bootstrap/images/favicon.png" type="">
    <title>카테고리 수정하기</title>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="/bootstrap/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/bootstrap/css/responsive.css" rel="stylesheet" />
    <script>
        function updateCategory(event) {
            event.preventDefault();
            var categoryName =  $('input[name="categoryName"]').val();
            var storeCode = [[${storeCode}]];
            var confirmation = confirm("변경사항을 저장하시겠습니까?");
            var categoryDto = {
                "idx" : $('input[name="categoryIdx"]').val(),
                "code" : $('input[name="categoryCode"]').val(),
                "name" : categoryName
            };

            $.ajax({
                type: "PUT",
                url : "http://localhost:9010/category/modifyCategory",
                contentType: "application/json; charset=utf-8",
                async : false,
                data : JSON.stringify(categoryDto),
                success: function (data) {
                    window.location.href ="http://localhost:9010/admin/"+storeCode+"/food?topping="+false;
                    alert(data)
                },
                error : function () {
                    alert("오류가 났습니다.")
                }
            });
        }
    </script>
</head>
<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">
        <img src="/bootstrap/images/admin-bg.png" alt="">
    </div>
    <header th:replace="fragments/admin/header :: header"></header>
</div>
  <form id="modifyCategory">
    카테고리 명 : <span th:text="${categoryDto.getName()}"></span>
    <hr>
    수정할 카테고리 명  : <input type="text" name="categoryName">
    <input type="hidden" th:value="${categoryDto.getIdx()}" name="categoryIdx">
    <input type="hidden" th:value="${categoryDto.getCode()}" name="categoryCode">
    <button onclick="updateCategory(event)">카테고리 수정</button>
  </form>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>