<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="/bootstrap/images/favicon.png" type="">
    <title>주문 목록</title>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css"/>

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <!-- nice select  -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
          integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
          crossorigin="anonymous"/>
    <!-- font awesome style -->
    <link href="/bootstrap/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/style.css" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="/bootstrap/css/responsive.css" rel="stylesheet"/>
    <script>
        function complete(button) {
            var confirmation = confirm("주문을 처리하시겠습니까?");
            var orderCode = button.getAttribute('data-order-code');
            var storeCode = [[${storeCode}]];
            var OrdersDto = {
                "code": orderCode,
                "cookComplete": true,
                "purchaseStatus": true,
            };
            var baseURL;

            if (window.location.hostname === 'localhost' || window.location.hostname === '127.0.0.1') {
                baseURL = 'http://localhost:9010';
            } else {
                baseURL = 'http://mzpc.net';
            }

            if (confirmation) {
                $.ajax({
                    type: "POST",
                    async: false,
                    url: baseURL+"/orders/completeOrder",
                    contentType: "application/json",
                    data: JSON.stringify(OrdersDto),
                    success: function (data) {
                        window.location.href = baseURL+"/admin/" + storeCode + "/orderList";
                        alert(data);
                    },
                    error: function () {
                        alert("실패");
                    }
                });
            }
        }

        function reject(button) {
            var orderCode = button.getAttribute('data-order-code');
            var confirmation = confirm("주문을 취소하시겠습니까?");
            var storeCode = [[${storeCode}]];
            var baseURL;

            if (window.location.hostname === 'localhost' || window.location.hostname === '127.0.0.1') {
                baseURL = 'http://localhost:9010';
            } else {
                baseURL = 'http://mzpc.net';
            }

            if (confirmation) {
                $.ajax({
                    type: "DELETE",
                    async: false,
                    url: baseURL+"/orders/rejectOrder",
                    contentType: "application/json",
                    data: orderCode,
                    success: function (data) {
                        window.location.href = baseURL+"/admin/" + storeCode + "/orderList";
                        alert(data);
                    },
                    error: function () {
                        alert("실패");
                    }
                });
            }
        }
    </script>
</head>
<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">
        <img src="/bootstrap/images/admin-bg.png" alt="">
    </div>
    <header th:replace="fragments/admin/header :: header"></header>
</div>
<section class="order_section">
    <div th:each="order, iterStatus : ${ordersDtos}" class="detail-box" th:if="${order.isCookComplete()==false}">
        <h5>주문 번호: <span th:text="${iterStatus.index + 1}"></span></h5>
        <p> 주문코드 : <span th:text="${order.getCode()}"></span></p>
        <p> 사용자 이름 : <span th:text="${order.getMemberName()}"></span></p>
        <p> 주문 일자 : <span th:text="${order.getCreatedAt()}"></span></p>
        <ul>
            <li th:each=" cart : ${order.getCartDtos()} ">
                <span th:text="${cart.getFoodDto().name} + ' : ' + ${cart.getFoodDto().price + '원'}"></span>
            </li>
        </ul>
        <div th:if="${order.getNote() != null || not #strings.isEmpty(order.getNote())}">요청사항</div>
        <label>
            <textarea th:if="${order.getNote() != null || not #strings.isEmpty(order.getNote())}" th:text="${order.getNote()}" readonly style="resize: none;"></textarea>
        </label>
        <br>
        <b>총 금액 : <span th:text="${order.getTotalCost() + '원'}"></span></b>
        <br>
        <button onclick="complete(this)" th:attr="data-order-code=${order.getCode()}">결제 완료</button>
        <button onclick="reject(this)" th:attr="data-order-code=${order.getCode()}">주문 취소</button>
        <hr>
    </div>
</section>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>